body{
    background-position: center;
    background-size: cover;
}
#heading, #note, #status{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}